## 집합

In [1]:
numbers = [1, 1, 1, 1, 2, 2, 3, 3]

In [2]:
numbers

[1, 1, 1, 1, 2, 2, 3, 3]

In [3]:
set_numbers = { 1, 1, 1, 1, 2, 2, 3, 3 }

In [4]:
set_numbers

{1, 2, 3}

In [6]:
{1, 2, 1, -10, 3, 2, 1, 2, 3, 100, 88}

{-10, 1, 2, 3, 88, 100}

In [7]:
list_numbers = [1, 2, 1, 2, 1, 2, 3, 1, 3, 4]

In [8]:
result = []
for number in list_numbers:
    if number not in result:
        result.append(number)
result

[1, 2, 3, 4]

In [11]:
list(set(list_numbers))  # 새로운 집합 변수 -> 새로운 리스트 변수

[1, 2, 3, 4]

## 사전

In [16]:
성적 = {'국어': 80, '영어': 100, '수학': 95}

In [17]:
성적

{'국어': 80, '수학': 95, '영어': 100}

In [18]:
성적['국어']

80

In [19]:
성적['수학']

95

In [20]:
성적['영어'] = 10

In [21]:
성적

{'국어': 80, '수학': 95, '영어': 10}

In [22]:
성적['과학']

KeyError: '과학'

In [23]:
ratings = {
    '홍콩반점': 5,
    '아웃백': 2,
    'CU': 4,
    'GS편의점': 5,
}

In [24]:
'롯데마트' in ratings

False