In [1]:
3 + 10

13

In [2]:
1 + 10
2 + 10
3 + 10

13

In [3]:
print(1 + 10)
print(2 + 10)
print(3 + 10)

11
12
13

## 변수

In [4]:
message = "Hello, Python"

In [5]:
print(message)

Hello, Python

In [6]:
birth = 1990

In [7]:
2017 - 1990

27

In [8]:
2017 - birth

27

In [9]:
birth = 2000
2017 - birth

17

In [10]:
age = 2017 - birth

In [11]:
print(message, age)

Hello, Python 17

In [12]:
2 ** 100

1267650600228229401496703205376

In [13]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

## Numeric Type

In [14]:
1

1

In [15]:
type(1)

int

In [16]:
type(1.0)

float

In [17]:
10 / 3

3.3333333333333335

In [18]:
10 // 3

3

In [19]:
10 % 3

1

In [20]:
number = 100

In [21]:
number % 17

15

## String Type

In [22]:
'Python'

'Python'

In [23]:
"Python"

'Python'

In [24]:
"Hello" + "World"

'HelloWorld'

In [25]:
"Hello
"

SyntaxError: EOL while scanning string literal (<ipython-input-25-c167c1c978b4>, line 1)

In [26]:
"Hello\n" + "world"

'Hello\nworld'

In [27]:
print("Hello\n" + "world")

Hello
world

In [28]:
lyrics = '''The now glows white on the mountain tonight
Now a footprint to be seen A kingdom of isolation
and it looks like I'm the queen'''

In [29]:
print(lyrics)

The now glows white on the mountain tonight
Now a footprint to be seen A kingdom of isolation
and it looks like I'm the queen

In [30]:
ret = print("hello")
print(ret)

hello
None

## Boolean Type

In [31]:
a = []

In [34]:
b = []

In [35]:
id(a), id(b)

(922488072648, 922482735240)

In [36]:
a == b

True

In [37]:
a is b

False

In [38]:
a = 1
b = 1

In [39]:
id(a), id(b)

(1687415248, 1687415248)

In [40]:
a == b

True

In [41]:
a is b

True

In [42]:
print(z)

NameError: name 'z' is not defined

In [ ]:
z = 10

In [43]:
print(z)

NameError: name 'z' is not defined

## list

In [44]:
numbers = [1, 3, 5, 7, 9]

In [45]:
numbers[0]

1

In [46]:
numbers[1]

3

In [47]:
numbers[2]

5

In [50]:
import random
random.sample(range(1, 46), 7)

[2, 34, 26, 7, 8, 42, 6]

In [54]:
names = ['Tom', 'Steve', 'Min']

In [55]:
names = [
    'Tom',
    'Steve',
    'Min',
    'John',
]

In [56]:
numbers = [1, 3, 5, 7]

In [57]:
7 in numbers

True

In [58]:
10 in numbers

False

In [59]:
len(numbers)

4

In [60]:
numbers[1], numbers[len(numbers)-3], numbers[-3]

(3, 3, 3)

In [61]:
for i in numbers:
    print(i)

1
3
5
7

In [62]:
numbers[10]

IndexError: list index out of range

In [64]:
number = 2
for i in range(2, 10):
    print('{} * {} = {}'.format(2, i, 2*i))

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 데이터 변경

In [65]:
numbers = [1, 3, 5, 7, 5]

In [66]:
numbers

[1, 3, 5, 7, 5]

In [67]:
numbers[0] = 10

In [68]:
numbers

[10, 3, 5, 7, 5]

In [69]:
numbers.append(9)

In [70]:
numbers

[10, 3, 5, 7, 5, 9]

In [71]:
numbers.pop(3)

7

In [72]:
numbers

[10, 3, 5, 5, 9]

In [73]:
numbers.remove(5)

In [74]:
numbers

[10, 3, 5, 9]

In [75]:
numbers.insert(1, 11)

In [76]:
numbers

[10, 11, 3, 5, 9]

### 슬라이싱

In [77]:
mystring = "abcdefghjijklmnopqrstuvwxyz"

In [79]:
mystring[1]

'b'

In [80]:
mystring[1:]

'bcdefghjijklmnopqrstuvwxyz'

In [81]:
mystring[1:7]

'bcdefg'

In [82]:
mystring[1:-1]

'bcdefghjijklmnopqrstuvwxy'

In [83]:
mystring[3:-3]

'defghjijklmnopqrstuvw'

In [84]:
mystring[1:7:2]

'bdf'

In [85]:
mystring[3:-3:2]

'dfhikmoqsuw'

In [86]:
mystring[3:-3:3]

'dgiloru'

In [87]:
mystring[::-1]

'zyxwvutsrqponmlkjijhgfedcba'

In [89]:
numbers1 = [1, 3, 5, 7] 
numbers2 = [2, 4, 6, 8]

for i in range(4):
    print(numbers1[i] + numbers2[i])

for i, j in zip(numbers1, numbers2):
    print(i + j)

3
7
11
15
3
7
11
15

### 질문 : Sorting

In [92]:
import random

numbers = random.sample(range(1, 46), 7)
numbers.sort()
print(numbers)

[8, 15, 26, 27, 28, 30, 39]

In [93]:
sorted(random.sample(range(1, 46), 7))

[11, 18, 24, 26, 37, 39, 44]

## 정확한 tuple 문법

In [98]:
numbers = [1,]

for i in numbers:
    print(i)

1